Binaries
DerivedDataCache
Intermediate
Saved
Builds

.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/Gameplay/1_Items/BP_Item_Log.uasset
Content/Gameplay/1_Items/BP_Item_Teapot.uasset
Content/Gameplay/1_Items/Bp_Item_Watermelon.uasset
